@import "tailwindcss";

@theme {
  --font-primary: "Helvetica", sans-serif;

  --color-primary: #0e7344;
  --color-secundary: #bad94a;
  --color-background: #f0f3f1;
  --color-disabled: #6c757d;
  --color-text: #333333;
  --color-border: #dfeee2;
  --color-warning: #f2b705;
  --color-florest: #6c9380;

  --text-txl: 3.25rem;
  --text-tlg: 2rem;
  --text-tmd: 1.25rem;
}
